streamlit==1.50.0
numpy==2.2.2
pandas==2.2.3
scipy==1.14.1
matplotlib==3.9.2
seaborn==0.13.2
plotly==6.3.1
pillow==11.3.0
pyarrow==21.0.0
statsmodels==0.14.5
bottleneck==1.4.0
numexpr==2.10.1
xarray==2025.10.1
wordcloud==1.9.4
emoji==2.15.0
urlextract==1.9.0
